body {
    margin: 0px; 
    padding: 0px;
    height: 100vh;
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("/fonts/Nunito/Nunito-Regular.ttf");
}

* {
    font-family: Roboto; 
}

.error-box {
    padding: 10px; 
    width: 100%; 
    border: 2px solid rgb(214, 126, 126); 
    color: rgb(245, 121, 121);
    border-radius: 5px;
}